---
import Layout from '../layouts/Layout.astro';
import { Sidebar } from '../components/Sidebar';
import { Topbar } from '../components/Topbar';
import { DashboardContent } from '../components/DashboardContent';
---

<Layout title="平台首页 - 内科主治题库">
	<Sidebar currentPath="/" slot="sidebar" client:load />
	<div slot="topbar" class="w-full">
		<Topbar currentPath="/" client:load />
	</div>
	<DashboardContent client:load />
</Layout>
